/*** Colors ***/
$light: #ddd;
$dark: #333;

.Board{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 100px 2.5rem 80px;
  transition: color, background-color 0.4s ease-in-out;
}

.Board__switcher{
  display: block;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.75rem;
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color, background-color 0.4s ease-in-out;

  &:hover,
  &:focus,
  &:active{
    outline: 0;
  }
}

.Board--light{
  background-color: $light;
  color: $dark;

  .Board__switcher{
    background: $dark;
    color: $light;
  }
}

.Board--dark{
  background-color: $dark;
  color: $light;

  .Board__switcher{
    background: $light;
    color: $dark;
  }
}


.Board__grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.NewItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 320px;
  margin: 0.75rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: #f4f4f4;
  opacity: 0.75;
  transition: opacity 0.4s ease-in-out;

  &:hover,
  &:focus{
    cursor: pointer;
    opacity: 1;
  }

  .NewItem__icon{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    text-align: center;
    line-height: 100px;
    background-color: #ccc;
  }
}
